// out: false
@import './theme.less';

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;

  font-weight: normal;
}

html {
  display: flex;

  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  flex: 1;

  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--text-color);

  background: var(--bg-color);

  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  display: flex;

  width: 100%;
  min-height: 100%;
}

button {
  --transition-duration: var(--btn-transition-duration, 200ms);
  padding: 0.75em 1em;

  font-family: inherit;
  font-size: var(--font-size-1);
  color: inherit;
  color: var(--btn-text-color);
  text-shadow: var(--btn-text-shadow, var(--text-shadow));

  background: none;
  background: var(--btn-bg-color);
  border: none;
  border: 0;
  border-radius: var(--btn-border-radius);
  outline: 0;

  cursor: pointer;
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);

  appearance: none;

  &:hover {
    background: var(--main-color-30);
  }
}

.scroll {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-clip: content-box;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--negative-color-alpha-10);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;

  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  position: absolute !important;
  top: 0px !important;
  left: 0 !important;

  opacity: 0;
}

.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2147483647;

  direction: ltr;

  pointer-events: none;
}
